DEV_MODE=true

# BACKEND
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/champ_local
EXTERNAL_API_URL=http://localhost:8000
EXTERNAL_API_TOKEN=service_token

# FRONTEND
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000/api
