POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=champ_local

DEV_MODE=false

# BACKEND
EXTERNAL_API_URL=http://localhost:8000
EXTERNAL_API_TOKEN=service_token
